.logoWrapper,
.buttons {
    position: fixed;
    z-index: 5;
    height: 5.5vh;
    min-height: 65px;
}

.logoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2.125rem;
    align-items: center;
}

.logo {
    font-weight: 400;
    font-size: 2rem;
    color: var(--main-color-1);
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
}

.buttons {
    right: 0;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--main-color-1);
}

.buttons button {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.05em;
    padding: 0;
    background: none;
    border: none;
    margin: 0 0.5rem;
    text-transform: uppercase;
    z-index: 10;
}

.buttons button:hover {
    cursor: pointer;
}

/* Animated Underline Hover */
/* Source: https://codepen.io/jstn/pen/mdoOZJ */
.buttons button:after {
    background: #0D1713;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.buttons button:hover:after {
    width: 100%;
    left: 0;
}

.buttons button:last-child {
    color: var(--main-color-2);
    font-weight: 600;
}

.buttons button:last-child:after {
    background-color: var(--main-color-2);
    height: 2px;
}

.circle {
    width: 0.35rem;
    height: 0.35rem;
    border-radius: 50%;
    background-color: #CECAC3;
}

@media (min-width: 800px) {
    .buttons button {
        font-size: 1rem;
    }
}


@media (min-width: 1000px) {
    .logo {
        font-size: 3rem;
    }

    .buttons button {
        font-size: 1.1rem;
        margin: 0 1rem;
    }

    .buttons button:after {
        height: 2px;
    }

    .buttons button:last-child:after {
        height: 3px;
    }
}

@media (min-width: 1100px) {
    .buttons button {
        font-size: 1.25rem;
    }
}
