.searchBarWrapper {
    width: 100vw;
    background: none;
    z-index: 5;
    transform: translateY(-50%);
    height: 6.5%;
    max-height: 3.5rem;
}

.searchBarWrapper.landing {
    height: 8.5%;
    max-height: 6.6rem;
}

.searchBar {
    position: relative;
    max-height: 10rem;
    min-width: 20rem;
    max-width: 37.5rem;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 230ms, top 0s;
}

.searchBar.landing {
    width: 35%;
    min-height: 75px;
    background: transparent;
    box-shadow: 0 24px 27px rgba(0, 0, 0, 0.25);
    border-radius: 1.56rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.searchBar.topRatedBooks {
    width: 27.5%;
    min-height: 62px;
    transform: scale(0.85, 0.6);
    background: #F1F1F1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.6rem;
}

.searchBar.searchBooksByGenre {
    width: 27.5%;
    min-height: 62px;
    transform: scale(0.85, 0.6);
    background: #0D1713;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.6rem;
}

.searchBar.landing svg {
    width: 1.75rem;
    height: 1.75rem;
    color: var(--main-color-1);
}

.searchBar.topRatedBooks svg {
    width: 1.3rem;
    height: 1.3rem;
    color: #BEAF98;
    transform: scale(calc(1 / 0.85), calc(1 / 0.6));
}

.searchBar.searchBooksByGenre svg {
    width: 1.3rem;
    height: 1.3rem;
    color: #f1f1f1;
    transform: scale(calc(1 / 0.85), calc(1 / 0.6));
}

.searchBar p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 0 0.5rem;
}

.searchBar.landing p {
    font-size: 1.8rem;
    color: var(--main-color-1);
}

.searchBar.topRatedBooks p {
    font-size: 1.3rem;
    color: #BEAF98;
    margin: 0 0 0 1.5rem;
    transform: scale(calc(1 / 0.85), calc(1 / 0.6));
}

.searchBar.searchBooksByGenre p {
    font-size: 1.3rem;
    color: #f1f1f1;
    margin: 0 0 0 1.5rem;
    transform: scale(calc(1 / 0.85), calc(1 / 0.6));
}

/* Frosted Glass Effect */
/* Source: https://codepen.io/tutsplus/pen/zymXoy */
.searchBar.landing:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(15px);
    margin: -20px;
}
